*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

:root {
  --_hue: 1;
  --_saturation: 100%;
  --_lightness: 65%;
}

body {
  background-color: #222;
  margin: 0;
  min-height: 100vh;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  touch-action: pan-x pan-y;
}

.piano {
  display: flex;
  box-shadow: 0 0 120px 0 hsl(280, 80%, 8%);
  max-width: 100%;
}

.key {
  height: calc(var(--_width) * 4);
  width: var(--_width);
  position: relative;
}

.key::before,
.black.key::after {
  content: attr(data-note);
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding-left: 8px;
  padding-block: 4px;
  font-size: 1.15rem;
  font-weight: bolder;
  color: #111;
  user-select: none;
}

.black.key::before,
.black.key::after {
  font-size: 0.75rem;
  font-style: italic;
  color: #fff;
}

.black.key::after {
  content: attr(data-note-sharp);
  bottom: 1.15rem;
}

.white {
  --_width: 100px;
  background-color: #fff;
  border: 1px solid #333;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  transition: background-color 100ms ease-in-out;
}

.white.active {
  background-color: hsl(var(--_hue), var(--_saturation), var(--_lightness));
}

.black {
  --_width: 60px;
  background-color: #000;
  margin-left: calc(var(--_width) / -2);
  margin-right: calc(var(--_width) / -2);
  box-shadow: 4px 4px 10px 0 #333;
  z-index: 2;
  
  transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out;
}

.black.active {
  --_lightness: 35%;
  --_saturation: 80%;
  background-color: hsl(var(--_hue), var(--_saturation), var(--_lightness));
  box-shadow: none;
}

/* Specifies active color for each key */
div[data-note="C"].white.active,
div[data-note="C"].key-note-card.active h2 {
  --_hue: 0;
}
div[data-note="Db"].black.active,
div[data-note="Db"].key-note-card.active h2 {
  --_hue: 10;
}
div[data-note="D"].white.active,
div[data-note="D"].key-note-card.active h2 {
  --_hue: 22;
}
div[data-note="Eb"].black.active,
div[data-note="Eb"].key-note-card.active h2 {
  --_hue: 28;
}
div[data-note="E"].white.active,
div[data-note="E"].key-note-card.active h2 {
  --_hue: 55;
}
div[data-note="F"].white.active,
div[data-note="F"].key-note-card.active h2 {
  --_hue: 80;
}
div[data-note="Gb"].black.active,
div[data-note="Gb"].key-note-card.active h2 {
  --_hue: 85;
}
div[data-note="G"].white.active,
div[data-note="G"].key-note-card.active h2 {
  --_hue: 180;
}
div[data-note="Ab"].black.active,
div[data-note="Ab"].key-note-card.active h2 {
  --_hue: 195;
}
div[data-note="A"].white.active,
div[data-note="A"].key-note-card.active h2 {
  --_hue: 250;
}
div[data-note="Bb"].black.active,
div[data-note="Bb"].key-note-card.active h2 {
  --_hue: 275;
}
div[data-note="B"].white.active,
div[data-note="B"].key-note-card.active h2 {
  --_hue: 310;
}

.centered-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.keyboard-key-map {
  margin-block: 80px 20px;
  max-width: 60%;
}

.upper-keys,
.lower-keys {
  margin-block: 10px;
  max-width: 100%;
}

.upper-keys {
  width: 80%;
}

.upper-keys-left {
  padding-right: 46px;
}

.upper-keys-right,
.upper-keys-left {
  margin-inline: auto;
  font-style: italic;
}

.key-note-card {
  margin-inline: 5px;
  min-width: 45px;
  max-width: 80px;
}

.key-note-card h2 {
  --_lightness: 100%;
  margin: 0;
  padding-block: 10px;
  text-align: center;
  color: hsl(var(--_hue), var(--_saturation), var(--_lightness), 0.6);
  font-size: 0.75rem;

  transition: color 100ms ease-in-out;
}

.key-note-card.active h2 {
  --_lightness: 65%;
}

.key-note-card.active.desaturated h2 {
  --_lightness: 35%;
  --_saturation: 80%;
}

.key-note-card img {
  max-width: 100%;
  opacity: 0.2;
  box-shadow: 8px 8px 8px 0 #21052b;

  transition: opacity 100ms ease-in-out, box-shadow 100ms ease-in-out;
}

.key-note-card.active img {
  opacity: 0.4;
  box-shadow: none;
}
