*, *::before, *::after {
    box-sizing: border-box;
font-family: Helvetica, sans-serif;
}

body {
    background-color: #222;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piano {
    display: flex;
    box-shadow: 0 0 120px 0 rgb(49, 35, 62);
    max-width: 100%;
}

.key {
    height: calc(var(--width) * 4);
    width: var(--width);
    position: relative;
}

.key::before, .black.key::after {
    content: attr(data-note);
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding-left: 8px;
    padding-block: 4px;
    font-size: 1.15rem;
    font-style: italic;
    opacity: .6;
    user-select: none;
}

.black.key::before, .black.key::after {
    font-size: .75rem;
}

.black.key::after {
    content: attr(data-note-sharp);
    bottom: 1.15rem;
}

.white {
    --width: 100px;
    background-color: #fff;
    border: 1px solid #333;
}

.white.active {
    background-color: #CCC;
}

.black {
    --width: 60px;
    background-color: #000;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    color: #fff;
    z-index: 2;
}

.black.active {
    background-color: #333;
}